---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../MetaTags.astro";
import Scroller from "./Scroller.astro";

import Navbar from "./Navbar.astro";

type Props = {
    title: string;
    description: string;
};

const { title, description } = Astro.props;

import { slide } from "astro:transitions";

const anim = {
    old: {
        name: "fadeIn",
        duration: "0.2s",
        easing: "linear",
        fillMode: "forwards",
    },
    new: {
        name: "fadeOut",
        duration: "0.3s",
        easing: "linear",
        fillMode: "backwards",
    },
};
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body class="scroll-smooth">
        <Navbar />

        <main class="xscroller-container scroll-smooth"
            transition:animate={slide({ duration: "1s" })}
        >
            <slot />
        </main>

        <style is:global>
            html,
            body {
                height: 100vh;
                overflow: hidden;
            }

            .xscroller-container {
                overflow: auto;
                overflow-x: hidden;
                height: 100vh;
                scroll-snap-points-y: repeat(100vh);
                scroll-snap-type: y mandatory ;
                margin-right: -5px;
            }

            .xscroller-container > section {
                height: 100vh;
                scroll-snap-align: start;
                position: relative;
            }

            /* scroll bar style */
            .xscroller-container::-webkit-scrollbar {
                background: transparent;
            }

            .xscroller-container::-webkit-scrollbar-track {
                /* border-radius: 100vh; */
                background: transparent;
            }

            .xscroller-container::-webkit-scrollbar-thumb {
                background: #282a44;
                border-radius: 4rem;
                border: 5px solid #000000;
                width: 2px;
            }

            @font-face {
                font-family: "tourner";
                src: url("/fonts/tourner/Tourner.ttf");
            }

            .header-title {
                font-family: "tourner";
                font-size: 4rem;
            }
            .scroll-hidden {
                overflow: hidden;
            }

            @keyframes slideLeft {
                from {
                    translate: 0;
                }
                to {
                    translate: -100%;
                }
            }
        </style>

        <script>
            const updateScrollBar = () => {
                const content = document.querySelector(".xscroller-container");
                content.ClassList.toggle("scroll-hidden");
            };

            document.addEventListener("astro:after-swap", updateScrollBar());
            document.addEventListener("astro:page-load", updateScrollBar());
        </script>
    </body><!-- 

    
scroll y navigation https://jsfiddle.net/9rfdyw27/ 
scroll x navigation https://stackoverflow.com/questions/53416348/css-scroll-snapping-vertical-not-working 

-->
</html>
