---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../MetaTags.astro";
import Scroller from './Scroller.astro'

type Props = {
    title: string;
    description: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body class="scroll-smooth">

        <nav class="nav fixed inset-x-0 bottom-10 z-50 flex h-8 justify-center gap-8 text-bold underline 
        [&>a]:bg-red-300
        [&>a]:p-4
        [&>a]:flex
        [&>a]:items-center">
            <a href="#1">1</a> | 
            <a href="#2">2</a> | 
            <a href="#3">3</a> | 
            <a href="#4">4</a>
        </nav>

        <div class="xscroller-container scroll-smooth">        
            <Scroller >
                <section>section 1</section>
                <section>section 2</section>
            </Scroller>

            <Scroller >
                <section class="--1">mierda 3</section>
                <section class="--1">mierda 4</section>
            </Scroller>        
        </div>

        <style is:global type="scss">
            html,
            body {
                height: 100vh;
                overflow: hidden;
                width: 100%;
                position: relative;
            }

            .xscroller-container {
                width: 100%;
                min-height: 100dvh;

                position: relative;
                scroll-behavior: smooth;
                overflow-x: hidden;
            }

           
        </style>
    </body>
</html>



<!-- 
    
scroll y navigation https://jsfiddle.net/9rfdyw27/ 
scroll x navigation https://stackoverflow.com/questions/53416348/css-scroll-snapping-vertical-not-working 

-->