---

const hrfList = ["/", "about"]

---
<nav class="nav fixed inset-x-0 bottom-10 z-50 flex h-8 justify-center gap-8 text-bold underline 
[&>a]:bg-red-300
[&>a]:p-4
[&>a]:flex
[&>a]:items-center">


{hrfList.map((v,k)=>(
    <a href={v}>{v}</a> 
))}


</nav>