---
const id = 1;

const html = await Astro.slots.render('default');


console.log( Astro.slots);


---



<main id="element" class="yscroller">
    <slot accesskey="1" id="20" />
    <!-- <Fragment set:html={html} /> -->
</main>

<style is:global define:vars={{ id }}>
    main {
        text-align: center;
        position: absolute;
        color: white;
        min-height: 100dvh;
        display: inline-block;
        width: 100%;
        height: 100vh;

        /* overflow-x: hidden; */
        scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y mandatory;
        scroll-snap-behavior: smooth;
        width: 100%;
    }

    main > * { 
        min-height: 100dvh;
        scroll-snap-align: start;
        position: relative;
    }
    /*
    .container2 {
        left: 100%;
    } */
</style>
