---
import Hero from "../components/movil/Hero.astro";
import Portfolio from "../components/movil/Portfolio.astro";
import Layout from "../layouts/ScrollLayout/index.astro";
---

<Layout title="Index" description="hola mundo" >
	<section>section about</section>
	<section>section 2</section>
</Layout>


