---
export const prerender = false;

import Layer from "@layouts/Pwa/Layout.astro";

import getSkills from '@/content/query/skills'

const data = await getSkills()
---

<Layer title="hola mundo">
  <div class="flex min-h-screen w-full justify-center items-center">
    <div class="flex flex-wrap">
      {data.map((v,k)=>(
        <div>
            <img src={v.icon} alt="" />
        </div>
    ))}
    </div>


   
  </div>
</Layer>
