---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../MetaTags.astro";

import XScroller from "./XScroller";

type Props = {
    title: string;
    description: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body class="scroll-smooth">
        <XScroller >
            s
        </XScroller>
    </body>

    <style>
        html,
        body {
            height: 100vh;
            overflow: hidden;
            width: 100%;
            position: relative;
        }
    </style>

    <!-- 
    
scroll y navigation https://jsfiddle.net/9rfdyw27/ 
scroll x navigation https://stackoverflow.com/questions/53416348/css-scroll-snapping-vertical-not-working 

-->
</html>
