---
import type { CollectionEntry } from "astro:content";
import BaseHead from "./MetaTags.astro";

type Props = {
    title: string;
    description: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body class="">
        <slot />

        <div>fron scrollinterface</div>
    </body>
    <style is:global type="scss">
        body {
            backgrond-color: black;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            scroll-behavior: smooth;
        }
        body > section {
            min-height: 100vh;
            scroll-snap-align: start;
        }
    </style>
</html>
